@tailwind base;
@tailwind components;
@tailwind utilities;

.card-actions button{
     margin: 0px;
}

.cardSp{
   @apply bg-black hightOmar w-80 lg:w-96 max-w-lg flex flex-none flex-col mx-auto ;
   @apply rounded-lg overflow-hidden  shadow-2xl hover:border-indigo-500 border ;
}
.cardHW{
    height: 400px;
    width: 400px;
}
.searchIcon{

}
.dropdown-content{
    display: none;
    z-index: 1;
}
.dropbtn {
    cursor: pointer;
}
.show{
    display: block;
}
.searchIcon:focus {
    width: 100px;
    height: 100px;
}
.color-gray-me{
    background-color: #f1f1f1;
}
.colorHead{
    background-color: #678983;
}
.colorHeadtext{
    background-color: #678983;
}
.colorFoot{
    background-color: #E6DDC4;
}
.colorCard{
    background-color: #012443;
}
.colorCardtext{
    color: #012443;
}
.hightOmar{
    height:450px;
}
.effect:hover{
    width:300px;
}
.proColor{
    background-color: #111827;
}
.width-0{
    width: 0px;
}
.font-size{
    font-size: 28px;
}
.priceColor{
    font-family: 'Montserrat';
    color: #2D2E30;
} 
.pTag{
    font-family: 'Roboto',sans-serif;
}
.myOb{
 background: rgb(212,213,180);
background: linear-gradient(90deg, rgba(212,213,180,1) 0%, rgba(255,255,255,0) 48%); 
z-index: -99;
}

.omar::before{
content: "";
position: absolute;
top: 0px;
right: 0px;
bottom: 0px;
left:0px;
background-image: url("../images/blue.jpeg");
background-size: cover;
background-position: top center;
background-attachment: fixed;
opacity: 0.8;
}

.cardTextSize {     
font-size: 45px;
color: blueviolet;
}

.card-actions-new {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-left: -.25rem;
    margin-right: -.25rem;
  }

.card-Detail {



}